{
  "ConnectionStrings": {
   "DefaultConnection": "Server=tcp:zenvo.at.zyr.io,1433;Database=sexy_dev;User ID=UsernameGoesHere;Password=PasswordGoesHere;Encrypt=False;TrustServerCertificate=True;Connection Timeout=30;",
  },
  "AppSettings": {
    "FilenameLength": "8",
    "InstanceName": "rly.sx",
    "InstanceProtocol": "https",
    "MaxFilesize": "128000000",
    "UploadStorageEndpoint": "//u.rly.sx/",
    "UploadStoragePath": "C:\\Dev\\"
  },
  "Logging": {
    "IncludeScopes": false,
    "LogLevel": {
      "Default": "Warning"
    }
  }
}
